@import "vars";

.footer {
  background-color: $black-color;
  padding: 5.6rem 0;

  &__logo {
    width: 8.2rem;
  }

  &__text {
    font-family: $common-font;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: $color-text;
    margin-top: 0.8rem;
  }
}
