@import "vars";
@import "mixins";

.tile {
  display: flex;

  &__col {
    &:first-of-type {
      margin: 5.5rem 3rem 0 0;
    }
  }

  &__box {
    width: 25.5rem;
    background: $white-color;
    box-shadow: 11px 10px 40px rgba(112, 112, 112, 0.08);
    border-radius: 0.8rem;
    padding: 1.9rem;
    text-align: center;

    &:not(:last-of-type) {
      margin-bottom: 3rem;
    }
  }

  &__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    margin: 0 auto;
    background-color: $h3-color;
    border-radius: 50%;
  }

  &__icon {
    font-size: 3.4rem;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.1rem;
    color: $color-bold-text;
    margin-top: 1rem;
  }

  &__text {
    margin-top: 1.4rem;
  }

  @media screen and (max-width: 1024px) {
    width: 100%;

    &__col {
      width: 50%;

      &:first-of-type {
        margin: 0 2rem 0 0;
      }
    }

    &__box {
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    &__col {
      width: 100%;
    }
  }
}
